<!DOCTYPE html>
<html>
<head>
<title>Flask Multiple Upload</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Updater Backend</h1>

make sure there is a updater&updater.exe in the root dir of the zip file; only zip file upload is allowed. You can also include engine zips and game zips in the root dir of the file they will be extracted into the lobby entry register and also downloaded by updater onto the player pc<p>


<hr><p>

<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <strong>abandoned text box:</strong><br>
    <input type="text" size="20" name="input1" value="uploads"><p>

    <strong>abandoned multiple choice:</strong><br>
    <select name="selectbox">
        <option value="abc">ABC</option>
        <option value="xyz">XYZ</option>
    </select><p>

    <strong>abandoned TF choce:</strong><br>
    <input type="checkbox" name="checkbox" value="on" checked> On<p>

    <strong>abandoned TF choce type II:</strong><br>
    <input type="radio" name="radio" value="yes" checked> Yes
    <input type="radio" name="radio" value="no"> No<p>

    <strong>abandoned content box:</strong><br>
    <textarea rows="4" cols="40" name="textarea">Text area contents.</textarea><p>

    <strong>Files:</strong><br>
    Select files OR drag them into the box below.
    <input id="file-picker" type="file" name="file" accept="*" multiple><p>

    <div id="dropbox">
        Drag and Drop Files Here
    </div><p>

    <fieldset id="progress" style="display: none">
        <legend>Files Progress</legend>

        <div class="progress-trough">
            <div id="progress-bar" class="progress-bar">0%</div>
        </div>
    </fieldset><p>

    <input type="submit" value="Upload!" id="upload-button">
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/uploadr.js') }}"></script>

</body>
</html>
